<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
  <header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
  </header>

  <form th:action="@{/create}" method="post" th:object="${property}">

    <br>

    <div class="fill-out-form">

    <h5>Tell us about what you found!</h5>
    </div>

    <br>

    <div class="title">

    <label for="createTitle">What did you find?</label>
      <br>


    <input id="createTitle" type="text" th:field="*{title}">
    </div>

    <br>

    <div class="date">

    <label for="dateFound">When did you find it?</label>

      <br>

    <input id="dateFound" type="date" name="date">
    </div>

    <br>

    <div class="categories">

    <label>Choose one or more categories that fits the item you found:</label>
    </div>

    <br>


    <div class="category-choices">

    <th:block th:each="category : ${categories}">
      <label th:for="${category.id}"><span th:text="${category.property_type}"></span></label>
      <input type="checkbox" name="categories" th:id="${category.id}" th:value="${category.id}">

      <br>

      <br>

    </th:block>
    </div>

    <br>

    <div class="where">

    <label for="locations">Where did you find this item?</label>
 <br>
    <select id="locations" th:field="*{location}">
      <th:block th:each="location : ${locations}">
        <option th:value="${location.id}"><span th:text="${location.location_name}"></span></option>
      </th:block>
    </select>

      <br>
      <br>
      <br>

<!--      <div class="button">-->
<!--    <input type="submit">-->
      <button type="submit" class="btn btn-outline-warning mt-3">Submit</button>
      </div>

      <br>
      <br>
      <br>

    </div>
  </form>

  <footer th:replace="fragments/footer :: footer">
</body>
</html>