<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>
<body>
<!--Header fragment-->
<header>
	<nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<!--Main Container-->
<div class="container-fluid no-gutters border">
	<h3 align="center">Find lost property:</h3>

<!--Listings form-->

		<form th:action="@{/listings}" method="get">



<!--Filter card-->
				<div class="container-fluid">
					<div class="row">
						<div class="card mb-2 box-shadow ">
							<div class="card-header">
								Filter your search:
							</div>

<!--Locations dropdown-->
								<label for="locations">Locations:</label>
								<select id="locations" data-selected="">
									<option  value="null" selected="selected" disabled="disabled">Select a location</option>
									<th:block th:each="location : ${locations}">
										<option th:value="${location.id}"><span th:text="${location.location_name}"></span></option>
									</th:block>
								</select>
<!--Categories dropdown-->
								<label for="categories">Categories:</label>
								<select id="categories" data-selected="">
									<option value="null" selected="selected" disabled="disabled">Select a category:</option>
									<th:block th:each="category : ${categories}">
										<option th:value="${category.id}"><span th:text="${category.property_type}"></span></option>
									</th:block>
								</select>
<!--Date-picker-->
								<label for="dateFound">Date lost:</label>
								<input  class="mb-2" id="dateFound" type="date" name="date_found">

<!--Filter button-->
								<button  type="button">Filter</button>
						</div>
					</div>
				</div>
		</form>
<!--Property Cards-->
			<div class="album py-5 bg-dark">
				<div class="container">
					<div class="row">
						<div class="row" th:each="item : ${properties}">
							<div class="card box-shadow ">
								<div class="card-body">

									<p th:text="${item.title}"/></p>

									<p style="float: right;" th:text="${item.location.location_name}"></p>
									<p>Location found:</p>

									<p style="float: right;" th:text="${item.date_found}"></p>
									<p>Date Found:</p>

									<th:block th:each="category : ${item.categories}">
										<p style="float: right;" th:text="${category.property_type}"></p>
									</th:block>
									<p>Categories:</p>

									<a role="button" class="btn btn-sm btn-outline-secondary" th:href="@{/inquiry/{id}(id=${item.id})}">Inquire</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

<!--Footer fragment-->
<footer th:replace="fragments/footer :: footer">
</footer>
</html>