<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Listings</title>
</head>
<body>
<header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
</header>

    <form th:action="@{/listings}" method="get">
        <label for="locations">Locations:</label>
        <select id="locations" name="location">
                <option value="null">Choose one:</option>
            <th:block th:each="location : ${locations}">
                <option th:value="${location.id}"><span th:text="${location.location_name}"></span></option>
            </th:block>
        </select>

        <label for="categories">Categories:</label>
        <select id="categories" name="category">
                <option value="null">Choose one:</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category.id}"><span th:text="${category.property_type}"></span></option>
            </th:block>
        </select>

        <label for="dateFound">Date:</label>
        <input id="dateFound" type="date" name="date_found">
        <button type="submit">Submit</button>
    </form>

    <div th:each="search : ${searchProperties}">

    </div>

    <div th:each="item : ${properties}">
        <p th:text="${item.title}" />
        <p th:text="${item.location.location_name}"></p>
        <p th:text="${item.formattedDateFound}"></p>
        <th:block th:each="category : ${item.categories}">
            <p th:text="${category.property_type}"></p>
        </th:block>
        <a sec:authorize="isAuthenticated()" role="button" class="btn btn-sm btn-outline-secondary" th:href="@{/inquiry/{id}(id=${item.id})}">Inquire</a>
        <a sec:authorize="!isAuthenticated()" role="button" class="btn btn-sm btn-outline-secondary popup" onclick="myFunction2()">Inquire
            <span class="popuptext" id="myPopupLg">To inquire about a missing item, you need to be a logged in user!</span>
        </a>
    </div>

    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
        function myFunction2() {
            var popup = document.getElementById("myPopupLg");
            popup.classList.toggle("show");
        }
    </script>
</body>
</html>