<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/head :: head">

</head>
<body>
<link rel="stylesheet" href="/css/card.css">
<link rel="stylesheet" href="/css/listings.css">
<link rel="stylesheet" href="/css/listings2.css">
<!--Header fragment-->
<header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
</header>

<!--Main Container-->
<div class="container no-gutters mt-4">
    <br>
    <br>
    <h2 align="center">Welcome to the listings page!</h2>
    <!--Listings form-->

    <form th:action="@{/listings}" method="get">

        <!--Filter card-->
        <div class="container-fluid">
            <div id="no_gutters" class="row">
                <img id="rounded_image" class="rounded" style="border-color: #E18A77; border-radius: 25px; width: 100%; height: 40vh;" src="img/san_antonio_skyline.png" alt="San Antonio Skyline"/>

<!--                <div class="images" data-selected="">-->
<!--                    <span class="loader">loading...</span>-->
<!--                    <span class="no-selection"></span>-->

<!--                    <img src="img/san_antonio_airport.jpg" data-image="1" alt="San Antonio Airport"-->
<!--                         title="San Antonio Airport"/>-->
<!--                    <img src="img/river_walk.jpg" data-image="2" alt="River Walk" title="River Walk"/>-->
<!--                    <img src="img/the_alamo.jpg" data-image="3" alt="The Alamo" title="The Alamo"/>-->
<!--                    <img src="img/north_star_mall.jpg" data-image="4" alt="North Star Mall" title="North Star Mall"/>-->
<!--                    <img src="img/shops_at_lacantera.png" data-image="5" alt="Shops at LaCantera"-->
<!--                         title="Shops at LaCantera"/>-->
<!--                    <img src="img/ingram_park_mall.jpg" data-image="6" alt="Ingram Park Mall" title="Ingram Park Mall"/>-->
<!--                    <img src="img/south_park_mall.jpg" data-image="7" alt="South Park Mall" title="South Park Mall"/>-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="8" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="9" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="10" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="11" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="12" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="13" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="14" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="15" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="16" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="17" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="18" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                    &lt;!&ndash;						<img src="img/san_antonio_airport.jpg" data-image="19" alt="Workshop" title="Workshop" />&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
            <div  id="no_gutters" class="row mt-3">
                <div id="column1" class="col card ">
                    <!--Locations dropdown-->
                    <label for="locations_dropdown">Locations:</label>
                    <select name="location" id="locations_dropdown" data-selected="">
                        <option value="null">Select a location</option>
                        <th:block th:each="location : ${locations}">
                            <option th:value="${location.id}"><span th:text="${location.location_name}"></span></option>
                        </th:block>
                    </select>
                    <!--Categories dropdown-->
                    <label for="categories">Categories:</label>
                    <select name="category" id="categories" data-selected="">
                        <option value="null">Select a category:</option>
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category.id}"><span th:text="${category.property_type}"></span></option>
                        </th:block>
                    </select>
                    <!--Date-picker-->
                    <label for="dateFound">Date lost:</label>
                    <div class="input-group.date mb-2">
                        <input name="date_found" id="dateFound" type="date" class="form-control align-center">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>

                    <button id="listings-submit" type="submit" class="btn btn-sm">Filter</button>
                    <!--Filter button-->
                </div>
<!--            </div>-->
<!--            </div>-->
<!--        </div>-->
    </form>
                <div id="middle_column" class="col">

                </div>


                <div id="column2" class="col text-align-center card">
                    <h3 style="color: #edd9bc">How to search:</h3>
                    <br>
                    <ul>
                        <li id="how_to_search">Select a location from the locations dropdown.</li>
                        <li id="how_to_search">Select a category for your lost property.</li>
                        <li id="how_to_search">Select the date you lost you lost your property at specified location.</li>
                        <li id="how_to_search">Filter through postings made by finders.</li>
                        <li id="how_to_search">Once you have found a post that closely matches your item description, press the inquire button to be redirected to our inquire form that will be sent to the user that posted the item.</li>
                    </ul>
                </div>
            </div>
<!--        </div>-->


    <!--Property Cards-->
<!--    <div class="container">-->
        <div  id="no_gutters" class="card mt-3">
            <div class="row">
                <th:block th:if="${searchProperties != null}">
                    <div class="d-none d-lg-block d-xxl-block col-6 mt-3" th:each="item : ${searchProperties}">
                        <div class="profile__card" data-animate-in="right" data-animate-in-delay="200">

                            <div class="card__header">
                                <div class="card__image" th:if="${item.user.profile_image_path == null}">
                                    <!--                                        <img src="/img/no_profile_pic.png" alt="No profile pic available" height="55px" width="50px"/>-->
                                    <img src="/img/pro-pic-icon.png" alt="No profile pic available" style="height: 45px; width: 45px;  margin-top: 6px"/>
                                </div>
                                <div class="card__image" th:if="${item.user.profile_image_path != null}">
                                    <img th:src="${item.user.profile_image_path}" alt="profile-image-small"
                                         height="50px" width="50px"/>
                                </div>
                                <h2 th:text="${item.title}"></h2>
                            </div>

                            <div class="card__body">
                                <p class="about__me">Found by:<span class="about__me"
                                                                    th:text="${item.user.username}"></span></p>
                                <p class="about__me">Location found: <span th:text="${item.location.location_name}"></span>
                                </p>
                                <p class="about__me">Categories:
                                    <br>
                                    <th:block th:each="category : ${item.categories}">
                                        <span th:text="${category.property_type}"></span><span> </span>
                                        <img th:if="${category.id == 1}" src="/img/category_icons/1-phone-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 2}" src="/img/category_icons/2-tablet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 3}" src="/img/category_icons/3-headphones-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 4}" src="/img/category_icons/4-laptop-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 5}" src="/img/category_icons/5-electronics-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 6}" src="/img/category_icons/6-keys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 7}" src="/img/category_icons/7-glasses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 8}" src="/img/category_icons/8-wallet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 9}" src="/img/category_icons/9-jewelry-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 10}" src="/img/category_icons/10-purses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 11}" src="/img/category_icons/11-makeup-bag-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 12}" src="/img/category_icons/12-hats-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 13}" src="/img/category_icons/13-jackets-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 14}" src="/img/category_icons/14-shoes-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 15}" src="/img/category_icons/15-clothing-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 16}" src="/img/category_icons/16-backpacks-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 17}" src="/img/category_icons/17-cameras-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 18}" src="/img/category_icons/18-passports-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 19}" src="/img/category_icons/19-luggage-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 20}" src="/img/category_icons/20-water-bottles-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 21}" src="/img/category_icons/21-toys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 22}" src="/img/category_icons/22-books-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 23}" src="/img/category_icons/23-other-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    </th:block>
                                </p>
                                <p class="about__me" style="float: right">Date posted: <br><span
                                        th:text="${item.formattedDatePosted}"></span></p>
                                <p class="about__me">Date found: <br><span th:text="${item.formattedDateFound}"></span></p>
                                <div class="important__social__links">
                                    <a sec:authorize="isAuthenticated()" id="inquireBtn" role="button"
                                       class="btn btn-sm btn-outline-secondary"
                                       th:href="@{/inquiry/{id}(id=${item.id})}">Inquire</a>
                                    <a sec:authorize="!isAuthenticated()" id="inquireBtn" role="button"
                                       class="btn btn-sm btn-outline-secondary popup"
                                       onclick="myFunction2(event)">Inquire
                                        <span class="popuptext" id="myPopupLg">To inquire about a missing item, you need to be a logged in user!</span>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="d-block d-lg-none d-xxl-none col-12" th:each="item : ${searchProperties}">
                        <div class="profile__card" data-animate-in="right" data-animate-in-delay="200">

                            <div class="card__header">
<!--                                <div class="card__image">-->
<!--                                    <img th:src="${item.user.profile_image_path}" height="50px" width="50px"/>-->
<!--                                </div>-->
                                <div class="card__image" th:if="${item.user.profile_image_path == null}">
                                    <!--                                        <img src="/img/no_profile_pic.png" alt="No profile pic available" height="55px" width="50px"/>-->
                                    <img src="/img/pro-pic-icon.png" alt="No profile pic available" style="height: 45px; width: 45px;  margin-top: 6px"/>
                                </div>
                                <div class="card__image" th:if="${item.user.profile_image_path != null}">
                                    <img th:src="${item.user.profile_image_path}" alt="profile-image-small"
                                         height="50px" width="50px"/>
                                </div>
                                <h2 th:text="${item.title}"></h2>
                            </div>

                            <div class="card__body">
                                <p class="about__me">Found by:<span class="about__me"
                                                                    th:text="${item.user.username}"></span></p>
                                <p class="about__me">Location found: <span th:text="${item.location.location_name}"></span>
                                </p>
                                <p class="about__me">Categories:
                                    <br>
                                    <th:block th:each="category : ${item.categories}">
                                        <span th:text="${category.property_type}"></span><span> </span>
                                        <img th:if="${category.id == 1}" src="/img/category_icons/1-phone-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 2}" src="/img/category_icons/2-tablet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 3}" src="/img/category_icons/3-headphones-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 4}" src="/img/category_icons/4-laptop-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 5}" src="/img/category_icons/5-electronics-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 6}" src="/img/category_icons/6-keys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 7}" src="/img/category_icons/7-glasses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 8}" src="/img/category_icons/8-wallet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 9}" src="/img/category_icons/9-jewelry-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 10}" src="/img/category_icons/10-purses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 11}" src="/img/category_icons/11-makeup-bag-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 12}" src="/img/category_icons/12-hats-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 13}" src="/img/category_icons/13-jackets-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 14}" src="/img/category_icons/14-shoes-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 15}" src="/img/category_icons/15-clothing-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 16}" src="/img/category_icons/16-backpacks-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 17}" src="/img/category_icons/17-cameras-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 18}" src="/img/category_icons/18-passports-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 19}" src="/img/category_icons/19-luggage-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 20}" src="/img/category_icons/20-water-bottles-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 21}" src="/img/category_icons/21-toys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 22}" src="/img/category_icons/22-books-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                        <img th:if="${category.id == 23}" src="/img/category_icons/23-other-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    </th:block>
                                </p>
                                <p class="about__me" style="float: right">Date posted: <br><span
                                        th:text="${item.formattedDatePosted}"></span></p>
                                <p class="about__me">Date found: <br><span th:text="${item.formattedDateFound}"></span></p>
                                <div class="important__social__links">
                                    <a sec:authorize="isAuthenticated()" id="inquireBtn" role="button"
                                       class="btn btn-sm btn-outline-secondary"
                                       th:href="@{/inquiry/{id}(id=${item.id})}">Inquire</a>
                                    <a sec:authorize="!isAuthenticated()" id="inquireBtn" role="button"
                                       class="btn btn-sm btn-outline-secondary popup"
                                       onclick="myFunction2(event)">Inquire
                                        <span class="popuptext" id="myPopupLg">To inquire about a missing item, you need to be a logged in user!</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </th:block>
                <th:block th:if="${searchProperties == null}">
                <div class="d-none d-lg-block d-xxl-block col-6 mt-3" th:each="item : ${properties}">
                    <div class="profile__card" data-animate-in="right" data-animate-in-delay="200">

                        <div class="card__header">
<!--                            <div class="card__image">-->
<!--                                <img th:src="${item.user.profile_image_path}" height="50px" width="50px"/>-->
<!--                            </div>-->
                            <div class="card__image" th:if="${item.user.profile_image_path == null}">
                                <!--                                        <img src="/img/no_profile_pic.png" alt="No profile pic available" height="55px" width="50px"/>-->
                                <img src="/img/pro-pic-icon.png" alt="No profile pic available" style="height: 45px; width: 45px;  margin-top: 6px"/>
                            </div>
                            <div class="card__image" th:if="${item.user.profile_image_path != null}">
                                <img th:src="${item.user.profile_image_path}" alt="profile-image-small"
                                     height="50px" width="50px"/>
                            </div>
                            <h2 th:text="${item.title}"></h2>
                        </div>

                        <div class="card__body">
                            <p class="about__me">Found by:<span class="about__me"
                                                                th:text="${item.user.username}"></span></p>
                            <p class="about__me">Location found: <span th:text="${item.location.location_name}"></span>
                            </p>
                            <p class="about__me">Categories:
                                <br>
                                <th:block th:each="category : ${item.categories}">
                                    <span th:text="${category.property_type}"></span><span> </span>
                                    <img th:if="${category.id == 1}" src="/img/category_icons/1-phone-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 2}" src="/img/category_icons/2-tablet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 3}" src="/img/category_icons/3-headphones-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 4}" src="/img/category_icons/4-laptop-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 5}" src="/img/category_icons/5-electronics-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 6}" src="/img/category_icons/6-keys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 7}" src="/img/category_icons/7-glasses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 8}" src="/img/category_icons/8-wallet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 9}" src="/img/category_icons/9-jewelry-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 10}" src="/img/category_icons/10-purses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 11}" src="/img/category_icons/11-makeup-bag-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 12}" src="/img/category_icons/12-hats-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 13}" src="/img/category_icons/13-jackets-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 14}" src="/img/category_icons/14-shoes-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 15}" src="/img/category_icons/15-clothing-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 16}" src="/img/category_icons/16-backpacks-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 17}" src="/img/category_icons/17-cameras-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 18}" src="/img/category_icons/18-passports-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 19}" src="/img/category_icons/19-luggage-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 20}" src="/img/category_icons/20-water-bottles-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 21}" src="/img/category_icons/21-toys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 22}" src="/img/category_icons/22-books-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 23}" src="/img/category_icons/23-other-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                </th:block>
                            </p>
                            <p class="about__me" style="float: right">Date posted: <br><span
                                    th:text="${item.formattedDatePosted}"></span></p>
                            <p class="about__me">Date found: <br><span th:text="${item.formattedDateFound}"></span></p>
                            <div class="important__social__links">
                                <a sec:authorize="isAuthenticated()" id="inquireBtn" role="button"
                                   class="btn btn-sm btn-outline-secondary"
                                   th:href="@{/inquiry/{id}(id=${item.id})}">Inquire</a>
                                <a sec:authorize="!isAuthenticated()" id="inquireBtn" role="button"
                                   class="btn btn-sm btn-outline-secondary popup"
                                   onclick="myFunction2(event)">Inquire
                                    <span class="popuptext" id="myPopupLg">To inquire about a missing item, you need to be a logged in user!</span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <section class="d-block d-lg-none d-xxl-none col-12" th:each="item : ${properties}">
                    <div class="profile__card" data-animate-in="right" data-animate-in-delay="200">

                        <div class="card__header">
<!--                            <div class="card__image">-->
<!--                                <img th:src="${item.user.profile_image_path}" height="50px" width="50px"/>-->
<!--                            </div>-->
                            <div class="card__image" th:if="${item.user.profile_image_path == null}">
                                <!--                                        <img src="/img/no_profile_pic.png" alt="No profile pic available" height="55px" width="50px"/>-->
                                <img src="/img/pro-pic-icon.png" alt="No profile pic available" style="height: 45px; width: 45px;  margin-top: 6px"/>
                            </div>
                            <div class="card__image" th:if="${item.user.profile_image_path != null}">
                                <img th:src="${item.user.profile_image_path}" alt="profile-image-small"
                                     height="50px" width="50px"/>
                            </div>
                            <h2 th:text="${item.title}"></h2>
                        </div>

                        <div class="card__body">
                            <p class="about__me">Found by:<span class="about__me"
                                                                th:text="${item.user.username}"></span></p>
                            <p class="about__me">Location found: <span th:text="${item.location.location_name}"></span>
                            </p>
                            <p class="about__me">Categories:
                                <br>
                                <th:block th:each="category : ${item.categories}">
                                    <span th:text="${category.property_type}"></span><span> </span>
                                    <img th:if="${category.id == 1}" src="/img/category_icons/1-phone-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 2}" src="/img/category_icons/2-tablet-new.png" alt="icon" style="height: 35px;vertical-align: baseline;">
                                    <img th:if="${category.id == 3}" src="/img/category_icons/3-headphones-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 4}" src="/img/category_icons/4-laptop-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 5}" src="/img/category_icons/5-electronics-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 6}" src="/img/category_icons/6-keys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 7}" src="/img/category_icons/7-glasses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 8}" src="/img/category_icons/8-wallet-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 9}" src="/img/category_icons/9-jewelry-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 10}" src="/img/category_icons/10-purses-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 11}" src="/img/category_icons/11-makeup-bag-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 12}" src="/img/category_icons/12-hats-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 13}" src="/img/category_icons/13-jackets-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 14}" src="/img/category_icons/14-shoes-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 15}" src="/img/category_icons/15-clothing-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 16}" src="/img/category_icons/16-backpacks-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 17}" src="/img/category_icons/17-cameras-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 18}" src="/img/category_icons/18-passports-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 19}" src="/img/category_icons/19-luggage-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 20}" src="/img/category_icons/20-water-bottles-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 21}" src="/img/category_icons/21-toys-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 22}" src="/img/category_icons/22-books-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                    <img th:if="${category.id == 23}" src="/img/category_icons/23-other-new.png" alt="icon" style="height: 35px; vertical-align: baseline;">
                                </th:block>
                            </p>
                            <p class="about__me" style="float: right">Date posted: <br><span
                                    th:text="${item.formattedDatePosted}"></span></p>
                            <p class="about__me">Date found: <br><span th:text="${item.formattedDateFound}"></span></p>
                            <div class="important__social__links">
                                <a sec:authorize="isAuthenticated()" id="inquireBtn" role="button"
                                   class="btn btn-sm btn-outline-secondary"
                                   th:href="@{/inquiry/{id}(id=${item.id})}">Inquire</a>
                                <a sec:authorize="!isAuthenticated()" id="inquireBtn" role="button"
                                   class="btn btn-sm btn-outline-secondary popup"
                                   onclick="myFunction2(event)">Inquire
                                    <span class="popuptext" id="myPopupLg">To inquire about a missing item, you need to be a logged in user!</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </section>
                </th:block>
            </div>
        </div>
</div>
<!--    		</div>-->

    <script>
        const selectbox = document.getElementById("locations_dropdown");
        const imagecontainer = document.querySelector(".images");
        let selection = selectbox.dataset.selected;

        selectbox.addEventListener("change", e => {
            selection = selectbox.value;
            imagecontainer.classList.add("loading");
            imagecontainer.dataset.selected = "";

            setTimeout(() => {
                imagecontainer.classList.remove("loading");
                imagecontainer.dataset.selected = selection;
            }, 1500);
        });


        $('.input-group.date').datepicker({format: "dd.mm.yyyy"});
    </script>

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script>
        // When the user clicks on div, open the popup
        function myFunction2(event) {
            event.stopPropagation();
            var popup = event.target.childNodes[1];
            popup.classList.toggle("show");
            // setTimeout(function() {
            //     $(".popuptext").hide();
            //     }, 2000);
            $(function () {
                $('.popuptext').delay(3000).fadeOut();
            });
        }

        $(function () {

            var html = $('html');
            // Detections
            if (!("ontouchstart" in window)) {
                html.addClass("noTouch");
            }
            if ("ontouchstart" in window) {
                html.addClass("isTouch");
            }
            if ("ontouchstart" in window) {
                html.addClass("isTouch");
            }
            if (document.documentMode || /Edge/.test(navigator.userAgent)) {
                if (navigator.appVersion.indexOf("Trident") === -1) {
                    html.addClass("isEDGE");
                } else {
                    html.addClass("isIE isIE11");
                }
            }
            if (navigator.appVersion.indexOf("MSIE") !== -1) {
                html.addClass("isIE");
            }
            if (
                navigator.userAgent.indexOf("Safari") != -1 &&
                navigator.userAgent.indexOf("Chrome") == -1
            ) {
                html.addClass("isSafari");
            }

            // On Screen

            $.fn.isOnScreen = function () {
                var elementTop = $(this).offset().top,
                    elementBottom = elementTop + $(this).outerHeight(),
                    viewportTop = $(window).scrollTop(),
                    viewportBottom = viewportTop + $(window).height();
                return elementBottom > viewportTop && elementTop < viewportBottom;
            };

            function detection() {
                for (var i = 0; i < items.length; i++) {
                    var el = $(items[i]);

                    if (el.isOnScreen()) {
                        el.addClass("in-view");
                    } else {
                        el.removeClass("in-view");
                    }
                }
            }

            var items = document.querySelectorAll(
                "*[data-animate-in], *[data-detect-viewport]"
                ),
                waiting = false,
                w = $(window);

            w.on("resize scroll", function () {
                if (waiting) {
                    return;
                }
                waiting = true;
                detection();

                setTimeout(function () {
                    waiting = false;
                }, 100);
            });

            $(document).ready(function () {
                setTimeout(function () {
                    detection();
                }, 500);

                for (var i = 0; i < items.length; i++) {
                    var d = 0,
                        el = $(items[i]);
                    if (items[i].getAttribute("data-animate-in-delay")) {
                        d = items[i].getAttribute("data-animate-in-delay") / 1000 + "s";
                    } else {
                        d = 0;
                    }
                    el.css("transition-delay", d);
                }
            });
        });

    </script>

    <!--Footer fragment-->
    <footer th:replace="fragments/footer :: footer2"></footer>
</body>
</html>