<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class=" footer fixed-bottom" th:fragment="footer">
    <div class="text-center mt-3">

        <ul class="footer">
            <li>&copy; LostButFound |</li>
            <li><a href="#">Contact Us |</a></li>
            <li><a href="https://github.com/LostButFound-capstone">Github |</a></li>
            <li><a href="https://codeup.com/">Codeup</a></li>
        </ul>
    </div>
</footer>
</body>
</html>