<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <footer th:fragment="footer1">
        <div class="text-center mt-5">
            <ul class="footer-list footer">
                <li><a th:href="@{/}">&copy; LostButFound</a></li>
                <li>||</li>
                <li><a th:href="@{/contact}">Contact Us</a></li>
                <li>||</li>
                <li><a href="https://github.com/LostButFound-capstone" target="_blank">Github</a></li>

            </ul>
        </div>
    </footer>
    <footer th:fragment="footer2">
        <div class="text-center mt-5">
            <ul class="footer-list footer2">
                <li><a th:href="@{/}">&copy; LostButFound</a></li>
                <li>||</li>
                <li><a th:href="@{/contact}">Contact Us</a></li>
                <li>||</li>
                <li><a href="https://github.com/LostButFound-capstone" target="_blank">Github</a></li>

            </ul>
        </div>
    </footer>
</div>
</body>
</html>