<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

<div th:fragment="modal" class="shade3 p-3">

    <a id="button-modalSmall" class="text-decoration-none" role="button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
        <h5 class="text-white h4 border-bottom border-white">Login</h5>
    </a>


    <div id="id01" class="modal">

        <form class="modal-content animate" th:action="@{/login}" method="POST">


            <div class="container">
                <label for="usernameSmall"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required id="usernameSmall" >

                <label for="passwordSmall"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required id="passwordSmall" >

                <button class="btn-lg" type="submit">Login</button>
            </div>

        </form>
    </div>
</div>
<li th:fragment="modal-lg" class="nav-item">
    <a id="button-modalLg" class="nav-link text-white" role="button" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">
        Login
    </a>


    <div id="id02" class="modal">

        <form class="modal-content animate" th:action="@{/login}" method="POST">


            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required id="uname" >

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required id="psw" >

                <button class="btn-lg" type="submit">Login</button>
            </div>

        </form>
    </div>
</li>

<script th:fragment="modaljs">
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    var modalLg = document.getElementById('id02');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modalLg) {
            modal.style.display = "none";
        }
    }

</script>


</body>
</html>