<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div th:fragment="signup-modal">


    <button id="button-modal" onclick="document.getElementById('id03').style.display='block'" style="width:auto;">
        Sign Up
    </button>

    <div id="id03" class="modal">

        <form class="modal-content animate" th:action="@{/sign-up}" method="POST" >

            <div class="form-group">
                <label class="inputs" for="username">Username</label>
                <input class="form-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label class="inputs" for="email">Email</label>
                <input class="form-control" id="email" name="email"/>
            </div>
            <div class="form-group">
                <label class="inputs" for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password"/>
            </div>
            <!--        <input value="Sign me up!" type="submit"/>-->
            <button type="submit" class="btn btn-outline-warning mt-3">Sign Up!</button>
        </form>
    </div>
</div>

<li th:fragment="signup-modal-lg">

  <button id="button-modal" onclick="document.getElementById('id04').style.display='block'" style="width:auto;">
    Sign Up
  </button>

  <div id="id04" class="modal">

        <form class="modal-content animate" th:action="@{/sign-up}" method="POST">

            <div class="form-group">
                <label class="inputs" for="username">Username</label>
                <input class="form-control" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label class="inputs" for="email">Email</label>
                <input class="form-control" id="email" name="email"/>
            </div>
            <div class="form-group">
                <label class="inputs" for="password">Password</label>
                <input class="form-control" id="password" type="password" name="password"/>
            </div>
            <!--        <input value="Sign me up!" type="submit"/>-->
            <button type="submit" class="btn btn-outline-warning mt-3">Sign Up!</button>
        </form>
    </div>
</li>

<script th:fragment="signup-modaljs">
  // Get the modal
  var modal = document.getElementById('id03');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  var modalLg = document.getElementById('id04');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modalLg) {
      modal.style.display = "none";
    }
  }

</script>

</body>
</html>