<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="fragments/head :: head">

</head>
<body>
<link rel="stylesheet" href="/css/card.css">
<header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
</header>

<div class="container" data-animate-in="right">

    <div class="card mb-4">
        <div class="editprofile-container card-body media align-items-center py-3" id="card-body" style="background: #264851; color: #edd9bc; border: 1px solid #e18a77;">
            <div class="imageContainer">
                <div th:if="${currentUser.profile_image_path == null}" class="cardImage">
<!--                    <img src="/img/no_profile_pic.png" alt="No profile pic available" height="250px"-->
<!--                         width="200px"/>-->
                    <img src="/img/pro-pic-icon.png" alt="No profile pic available" style="width: 180px; height: 180px; margin-top: 25px"/>
                </div>
                <div class="cardImage" th:if="${currentUser.profile_image_path != null}">
                    <img th:src="${currentUser.profile_image_path}" height="200px" width="200px"
                         alt="profile-picture"/>
                </div>
            </div>
            <br>
            <div class="media-body">
                <h4 class="font-weight-bold mt-1"><span style="word-break: break-all" th:text="${currentUser.username}"></span></h4>
                <h4 class="font-weight-bold mb-2"><span class="font-weight-normal"><span
                        style="word-break: break-all" th:text="${currentUser.email}"></span></span></h4>
            </div>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body" id="card-body" style="background: #264851; color: #edd9bc; border: 1px solid #e18a77;">
            <div class="container">
                <form th:action="@{/profile/edit/{id}(id=${currentUser.id})}" method="post">
                    <div class="form-group mb-3">
                        <h4><label for="username">Edit Username: </label></h4>
                        <input id="username" name="username" class="form-control" th:value="${currentUser.username}">
                    </div>
                    <div class="form-group mb-3">
                        <h4><label for="email">Edit Email: </label></h4>
                        <input id="email" name="email" class="form-control" th:value="${currentUser.email}">
                    </div>
                    <div class="form-group mb-3">
                        <h4><label for="password">New Password: </label></h4>
                        <input style="margin: 0" type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group mb-3" style="border-bottom: 2px solid #e18a77">
                        <h4><label for="profilePicture">Upload a profile picture:</label></h4>
                        <button style="margin-bottom: 1rem" id="profilePicture" type="button" class="btn filestack-api-button">Choose File</button>
                        <span><i class="fa fa-check hidden"></i></span>
                    </div>

                    <br>
                    <div class="d-flex justify-content-center">
                    <input style="width: 30%" id="edit-profile-submit" type="submit" class="btn filestack-api-button align-self-center" value="Submit">
                    <input id="hidden" name="profilePicture" class="form-control" type="hidden" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<footer th:replace="fragments/footer :: footer"></footer>-->
<footer th:fragment="footer1">
    <div class="text-center mt-5">
        <ul class="footer-list editProfile">
            <li><a th:href="@{/}">&copy; LostButFound</a></li>
            <li>||</li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li>||</li>
            <li><a href="https://github.com/LostButFound-capstone" target="_blank">Github</a></li>

        </ul>
    </div>
</footer>
<script>

    const client = filestack.init(FILESTACK_API_KEY);
    const options = {
        accept: ["image/*"],
        imageDim: [2048, 2048],
        maxSize: 10 * 1024 * 1024,
        onFileUploadFinished: anotherFunction,
        transformations: {
            force: true,
            circle: true,
            crop: false
        }
    };

    const btn = document.getElementById('profilePicture');
    const picker = client.picker(options);

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        picker.open();
    })

    function anotherFunction(res) {
        let handle = "https://cdn.filestackcontent.com/" + res.handle;


        document.getElementById('hidden').value = handle;

        if (handle !== "") {
            document.querySelector('.fa-check').classList.remove('hidden')
            document.querySelector('.fa-check').classList.add('visible')
        }
    }
</script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>
<script>
    // When the user clicks on div, open the popup
    function myFunction2(event) {
        event.stopPropagation();
        var popup = event.target.childNodes[1];
        popup.classList.toggle("show");
    }

    $(function () {

        var html = $('html');
        // Detections
        if (!("ontouchstart" in window)) {
            html.addClass("noTouch");
        }
        if ("ontouchstart" in window) {
            html.addClass("isTouch");
        }
        if ("ontouchstart" in window) {
            html.addClass("isTouch");
        }
        if (document.documentMode || /Edge/.test(navigator.userAgent)) {
            if (navigator.appVersion.indexOf("Trident") === -1) {
                html.addClass("isEDGE");
            } else {
                html.addClass("isIE isIE11");
            }
        }
        if (navigator.appVersion.indexOf("MSIE") !== -1) {
            html.addClass("isIE");
        }
        if (
            navigator.userAgent.indexOf("Safari") != -1 &&
            navigator.userAgent.indexOf("Chrome") == -1
        ) {
            html.addClass("isSafari");
        }

        // On Screen

        $.fn.isOnScreen = function () {
            var elementTop = $(this).offset().top,
                elementBottom = elementTop + $(this).outerHeight(),
                viewportTop = $(window).scrollTop(),
                viewportBottom = viewportTop + $(window).height();
            return elementBottom > viewportTop && elementTop < viewportBottom;
        };

        function detection() {
            for (var i = 0; i < items.length; i++) {
                var el = $(items[i]);

                if (el.isOnScreen()) {
                    el.addClass("in-view");
                } else {
                    el.removeClass("in-view");
                }
            }
        }

        var items = document.querySelectorAll(
            "*[data-animate-in], *[data-detect-viewport]"
            ),
            waiting = false,
            w = $(window);

        w.on("resize scroll", function () {
            if (waiting) {
                return;
            }
            waiting = true;
            detection();

            setTimeout(function () {
                waiting = false;
            }, 100);
        });

        $(document).ready(function () {
            setTimeout(function () {
                detection();
            }, 500);

            for (var i = 0; i < items.length; i++) {
                var d = 0,
                    el = $(items[i]);
                if (items[i].getAttribute("data-animate-in-delay")) {
                    d = items[i].getAttribute("data-animate-in-delay") / 1000 + "s";
                } else {
                    d = 0;
                }
                el.css("transition-delay", d);
            }
        });
    });

</script>
</body>
</html>