<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>
<body>

    <header>
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </header>

    <div class="container">

        <div class="media align-items-center py-3 mb-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
            <div class="media-body ">
                <h4 class="font-weight-bold mb-0"><span th:text="${currentUser.username}"></span></h4>
                <h4 class="font-weight-bold mb-2"><span class="text-muted font-weight-normal"><span
                        th:text="${currentUser.email}"></span></span></h4>
                <!--            <a href="#" class="btn btn-primary btn-sm">Edit</a>-->
                <!--            <a href="#" class="btn btn-default btn-sm">Profile</a>-->
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="container">
                    <form th:action="@{/profile/edit/{id}(id=${currentUser.id})}" method="post">
                        <div class="form-group mb-3">
                            <label for="username">Edit Username</label>
                            <input id="username" name="username" class="form-control" th:value="${currentUser.username}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Edit Email</label>
                            <input id="email" name="email" class="form-control" th:value="${currentUser.email}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">New Password</label>
                            <input id="password" name="password" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="profilePicture">Upload an image:</label>
                            <button id="profilePicture" type="button" class="btn btn-success">Choose File</button>
                            <span><i class="fa fa-check hidden" style="color:green"></i></span>
                        </div>
                        <input type="submit" class="btn btn-success btn-block" value="Submit">
                        <input id="hidden" name="hidden" class="form-control" type="hidden" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script>

        const client = filestack.init(FileStackAPI);
        const options = {
            accept: ["image/*"],
            onFileUploadFinished: anotherFunction,
        };

        const btn = document.getElementById('profilePicture');
        const picker = client.picker(options);

        btn.addEventListener('click', function (e) {
            e.preventDefault();
            console.log("I was clicked");
            picker.open();
        })

        function anotherFunction(res) {
            console.log(res);
            let handle = "https://www.filestackapi.com/api/file/" + res.handle;
            console.log(handle);

            document.getElementById('hidden').value = handle;
            console.log(document.getElementById('hidden').value)

            if (handle !== "") {
                // $('.fa-check').toggleClass('hidden', 'visible');
                document.querySelector('.fa-check').classList.remove('hidden')
                document.querySelector('.fa-check').classList.add('visible')
            }
        }
    </script>
</body>
</html>