<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="fragments/head :: head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>

<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>


<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">

    <form class="modal-content animate" th:action="@{/login}"  method="POST">


        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required id="uname" >

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required id="psw" >

            <button class="btn-lg" type="submit">Login</button>
        </div>

    </form>
</div>

<script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>




<!--<div class="container">-->
<!--    <form class="side-margins" th:action="@{/login}" method="post">-->
<!--        -->
<!--        <div class="form-group ">-->
<!--            <label class="inputs" for="username">Username:</label>-->
<!--            <input id="username" name="username" class="form-control" type="text">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="inputs" for="password">Password:</label>-->
<!--            <input id="password" name="password" class="form-control" type="password">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-outline-warning mt-3">Log In</button>-->
<!--    </form>-->
<!--</div>-->

<footer th:replace="fragments/footer :: footer">

</footer>

</body>
</html>