<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="fragments/head :: head">

</head>
<body>

<header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
</header>

<div class ="picture">
    <img src = "img/undraw_next_tasks_iubr.svg">
</div>

<!--======================================================== user image and info =================================================-->
<div class="container">

    <div class="media align-items-center py-3 mb-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">


        <div class="media-body ">
            <h4 class="font-weight-bold mb-0"><span th:text="${currentUser.username}"></span></h4>
            <h4 class="font-weight-bold mb-2"><span class="text-muted font-weight-normal"><span
                    th:text="${currentUser.email}"></span></span></h4>
            <a th:href="@{/profile/edit/{id}(id=${currentUser.id})}" class="btn btn-primary btn-sm">Edit</a>
            <!--<a href="#" class="btn btn-default btn-sm">Profile</a>-->
        </div>
    </div>

    <div class="info">My Information:</div>


    <div class="card mb-4">
        <div class="card-body">
            <table class="table user-view-table m-0">
                <tbody>

                <tr>
                    <td>Verified User:</td>

                    <div th:if="${currentUser.isVerified}">
                        <td>Yes</td>
                    </div>

                    <div th:if="${currentUser.isVerified == false}">
                        <td>No</td>
                    </div>
                </tr>


                <tr>
                    <td>Role:</td>

                    <div th:if="${currentUser.isAdmin}">
                        <td>Admin</td>
                    </div>

                    <div th:if="${currentUser.isAdmin == false}">
                        <td>User</td>
                    </div>
                </tr>

                <tr>
                    <td>Username:</td>
                    <td><span th:text="${currentUser.username}"></span></td>
                </tr>

                <tr>
                    <td>E-mail:</td>
                    <td><span th:text="${currentUser.email}"></span></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <!--===================================== post ======================================================-->
    <!--    <div class="card mb-4">-->
    <!--        <div class="row no-gutters row-bordered card-body d-block text-body">-->
    <!--            <div class="d-flex col-md align-items-center ">-->

    <!--                <div class="text-muted small line-height-1"><h4>Post</h4></div>-->

    <!--            </div>-->
    <!--            <hr class="border-muted m-0">-->

   <div class="listings">My Listings:</div>
    <div class="album py-5 bg-light"  >

        <div class="container">


            <div class="row">


                <div class="col" th:each="item : ${properties}">
                    <div class="card mb-4 box-shadow ">

                        <div class="card-body">

                            <p th:text="${item.title}"/></p>
                            <p style="float: right;" th:text="${item.location.location_name}"></p>
                            <p>Found at:</p>

                            <p style="float: right;" th:text="${item.date_found}"></p>
                            <p>Date Found:</p>

                            <p style="float: right" th:text="${item.date_posted}"></p>
                            <p>Date Posted:</p>
                            <a role="button" class="btn btn-sm btn-outline-secondary" th:href="@{/edit/{id}(id=${item.id})}">Edit
                            </a>

                            <br>
                            <br>


                            <form th:action="@{/delete/{id}(id=${item.id})}" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-secondary btn-danger">Delete</button>
                            </form>
                            <!--                            <th:block th:each="category : ${item.categories}">-->
                            <!--                                <p th:text="${category.property_type}"></p>-->
                            <!--                            </th:block>-->
                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>



    <!--============================= inquiries =========================================================-->


    <!--    <div class="card mb-4">-->
    <!--        <div class="row no-gutters row-bordered card-body d-block text-body">-->
    <!--            <div class="d-flex col-md align-items-center ">-->

    <!--                <div class="text-muted small line-height-1"><h4>Inquiries</h4></div>-->

    <!--            </div>-->
    <!--            <hr class="border-muted m-0">-->

    <!--            <div th:each="item : ${inquiries}">-->
    <!--                <p th:text="${item.title}"/>-->
    <!--            </div>-->


    <!--            <div class="row no-gutters row-bordered">-->
    <!--                <div class="d-flex col-md align-items-center">-->
    <!--                    <a href="#" class="card-body d-block text-body">-->
    <!--                        <div class="text-muted small line-height-1">Inquiries</div>-->
    <!--                        <div class="text-xlarge">1</div>-->
    <!--                    </a>-->
    <!--                </div>-->

    <!--            </div>-->
    <!--            <hr class="border-muted m-0">-->
    <!--        </div>-->


    <!--    </div>-->
</div>
</body>


<footer th:replace="fragments/footer :: footer">

</footer>

</html>