<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Verified Users</title>
    <style>
        /*.animated {*/
        /*    background-image: url("https://i.ytimg.com/vi/D-rAyCEtVHA/hqdefault.jpg");*/
        /*    width: 50%;*/
        /*    height: 50%;*/
        /*    background-repeat: no-repeat;*/
        /*    background-position: left top;*/
        /*    padding-top: 95px;*/
        /*    margin-bottom: 60px;*/
        /*    -webkit-animation-duration: .5s;*/
        /*    animation-duration: .5s;*/
        /*    -webkit-animation-fill-mode: both;*/
        /*    animation-fill-mode: both;*/
        /*}*/

        /*@-webkit-keyframes fadeInLeft {*/
        /*    0% {*/
        /*        opacity: 0;*/
        /*        -webkit-transform: translateX(-20px);*/
        /*    }*/
        /*    100% {*/
        /*        opacity: 1;*/
        /*        -webkit-transform: translateX(0);*/
        /*    }*/
        /*}*/

        /*@keyframes fadeInLeft {*/
        /*    0% {*/
        /*        opacity: 0;*/
        /*        transform: translateX(-20px);*/
        /*    }*/
        /*    100% {*/
        /*        opacity: 1;*/
        /*        transform: translateX(0);*/
        /*    }*/
        /*}*/

        /*.fadeInLeft {*/
        /*    -webkit-animation-name: fadeInLeft;*/
        /*    animation-name: fadeInLeft;*/
        /*}*/
        /*animation-name: fadeInDown;*/
    </style>
</head>
<body>
<header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
</header>
<form th:action="@{/verified-users}" method="get">
    <br><br><br><br>
        <div th:each="user : ${verifiedUsers}" id = "animated-example" class = "animated fadeInLeft">
            <h3 th:text="${user.username}" ></h3>
            <p th:text="${user.email}"></p>
        </div>
</form>

<!--<div id = "animated-example" class = "animated fadeInLeft" ></div>-->
</body>
</html>