/*Card CSS*/
.card {
    background: #edd9bc;
    border: solid 2px #e18a77
}

/*.btn-danger {*/
/*    background-color: #e18a6;*/
/*}*/
.list-group-item {
    padding: .8rem .5rem;
}
.listings-container {
    align-items: center;
    padding-bottom: 2.5rem;
}
.card--container {
    width:80%;
    margin:1em auto;
}
.editprofile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.edit-profile-listings-header {
    grid-area: header;
    background-color: #254b5b;
    color: #e18a77;
    min-width: 100%;
    border-radius: .25rem;
    display: flex;
    align-content: center;
    text-align: center;
    padding: 2rem;
}
.edit-profile-listings-header h2 {
    font-weight: bold;
    color: #e18a77;
}
#card-body {
    background: #edd9bc;
    color: black;
    border-radius: .25rem;
}
.user-info {
    background-color: #edd9bc;
    color: black;
}
.edit-delete {
    color: white;
    background-color: #ca3d43;
}
#edit-btn:hover {
     background-color: #008aff;
}
#delete-btn:hover {
     background-color: #8d0000;
}
.edit-listing {
    background: #659dbd;
}
.edit-profile {
    background: #659dbd;
    color: white;
    border: 1px solid black;
}
.edit-profile:hover {
    background-color: #008aff;
    color: white;
}
.filestack-api-button {
    background: #015398;
    color: #d4d4d4;
}
.filestack-api-button:hover {
    background-color: #fd623e;
}
.profile-listings-header {
    grid-area: header;
    background-color: #254b5b;
    min-width: 100%;
    /*border: 2px solid #ef426f;*/
    border-radius: .25rem;
    display: flex;
    align-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #e18a77;
}
.profile-listings-header h2 {
    color: #e18a77;
    margin: 1rem;
    font-weight: bold;
}
.profile__card {
    min-width:100%;
    background-color: #264851;
    box-shadow: 10px 10px 5px rgba(0,0,0,.4);
    /*display:grid;*/
    grid-template-columns:1fr;
    grid-template-areas:'header'
                      'image'
                       'body';
    place-items:Center;
    border-radius: .4rem;
}
.card__header {
    grid-area:header;
    background-color: #254b5b;
    min-width:100%;
    border-bottom:2px solid #e18a77;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    display: flex;
    /*justify-content: center;*/
    align-content: center;
    margin-bottom: 1.5rem;
}
.card__header h2 {
    font-weight:600;
    font-size:1.8rem;
    /*text-align: center;*/
    color: #e18a77;
    /*padding:.3em 0;*/
    margin: auto auto auto .5rem;
}
.image__container {
    padding:1.5em 0 2em;
    background-color: #282838;
    width:100%;
    height:100%;
    /*clip-path:polygon(0 0,100% 0,100% 100%,97% 93%,94% 100%,91% 93%,88% 100%,84% 93%,81% 100%,78% 93%,75% 100%,72% 93%,69% 100%,66% 93%,63% 100%,60% 93%,57% 100%,54% 93%,51% 100%,48% 93%,45% 100%,42% 93%,38.5% 100%,36% 93%,33% 100%,30% 93%,27% 100%,24% 93%,21% 100%,18% 93%,15% 100%,12% 93%,9% 100%,6% 93%,3% 100%,0 93%);*/
    display:flex;
    align-items:Center;
    justify-content:Center;
    border-bottom-left-radius: .4rem;
}
.card__image {
    width:50px;
    height:50px;
    background-color: #659dbd;
    border-radius:50%;
    box-shadow:0 0 5px rgba(0,0,0,.5);
    margin: 1rem 1rem;
}
.card__image img {
    min-width:100%;
    border-radius:50%;
    /*object-fit:cover;*/
}

.about__me {
    color: #edd9bc;
    font-weight:500;
    font-size: 1.2rem;
    padding: .2rem 1rem .5rem 1rem;
    /*border-bottom:3px dashed black;*/
}

.important__social__links {
    background-color: #254b5b;
    padding:.5em;
    display:flex;
    justify-content: space-evenly;
    font-size:1.5rem;
    border-top:2px solid #e18a77;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

i {
    padding:.5em;
    border-radius:50%;
    color: #009bbe;
    transition:background-color 300ms,color 300ms;
}

a i {
    color: #659DBD;
}


.fa-facebook {
    padding:.5em .68em;
}
/*a{*/
/*    position:relative;*/
/*}*/
/*a::before {*/
/*    --content:'facebook';*/
/*    --content-back:#0d7ff2;*/
/*    content:var(--content);*/
/*    font-size:15px;*/
/*    text-align:Center;*/
/*    color:#fff;*/
/*    font-weight:600;*/
/*    position:absolute;*/
/*    top:-50px;*/
/*    left:-35px;*/
/*    width:110px;height:30px;*/
/*    background-color:var(--content-back);*/
/*    border-radius:15px 15px 0 0;*/
/*    clip-path:polygon(0 0,100% 0,100% 80%,54% 80%,52% 100%,50% 100%,48% 80%,0 80%);*/
/*    opacity:0;*/
/*    transition:opacity 400ms;*/
/*}*/
/*a:nth-of-type(1)::before {*/
/*    --content:'github';*/
/*    --content-back:rgba(0,0,0,.9);*/
/*}*/
/*a:nth-of-type(2)::before {*/
/*    --content:'codepen';*/
/*    --content-back:rgba(0,0,0,.9);*/
/*}*/
/*a:nth-of-type(3)::before {*/
/*    --content:'twitter';*/
/*    --content-back:#0049ff;*/
/*}*/
/*a:hover::before,*/
/*a:focus::before   {*/
/*    opacity:1;*/
/*    transition:400ms;*/
/*}*/



@media screen and (min-width:920px) {
    .profile__card {
        grid-template-columns:repeat(2,1fr);
        grid-template-areas:'header header'
                      'image body';
    }
    .image__container {
        clip-path:none;
    }
    .about__me {
        /*padding:1.25em 1em;*/
        font-size: 1.5rem;
    }
    .important__social__links {
        font-size:1.4rem;
    }
}

@media only screen and (min-width: 320px) {
    .edit-delete {
        width: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .edit-delete {
        width: 150px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .edit-delete {
        width: 150px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .edit-delete {
        width: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .edit-delete {
        width: 300px;
    }
}