/*.fill-out-form {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/

/*}*/

/*.title {*/
/*    color:white;*/
/*    margin-left: 30px;*/
/*    font-weight:bold;*/

/*}*/

/*.date {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/
/*}*/

/*.categories {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/
/*}*/

/*.category-choices {*/
/*    color: white;*/
/*    margin-left: 30px;*/

/*}*/

/*.where {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/
/*}*/

/*.create {*/
/*    float: right;*/
/*    width: 200px;*/
/*    height: 150px;*/
/*}*/

/*.what_text_box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*#createTitle {*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    font-weight: bold;*/

/*}*/

/********************************************************************/

.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 30%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 88%;
    left: 86%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.box-2:hover .image {
    opacity: 0.8;
}

.box-2:hover .middle {
    opacity: 1;
}

.text {
    background-color: #264851;
    color: #d4d4d4;
    font-size: 16px;
    padding: 10px 32px;
    border-radius: 10px 100px / 120px;
    border: 1px solid #e18a77;
}

.instruction-box {
    padding-right: unset;
    padding-left: unset;
}
.d-flex {
    align-items: center;
}
hr.solid {
    border-top: 3px solid #e18a77;
    opacity: 1;
}
#card-body-instruction {
    background: #282838;
    /*color: #d4d4d4;*/
    border-radius: .25rem;
}
#card-body-instruction h2, h4 {
    line-height: 1.5;
}
/*#card-body-instruction h4 {*/
/*    line-height: 1.4;*/
/*}*/
hr.solid2 {
    border-top: 3px solid #e18a77;
    opacity: 1;
}

hr.solid3 {
    border-top: 3px solid #e18a77;
    opacity: 1;
}

label h3 {
    color: #edd9bc;
    font-weight: bold;
}

.box-1 {
    width: 70%;
}

.box-2 {
    width: 30%;
    display: flex;
    justify-content: center;
}

#purple-popup {
    margin-bottom: 0;
    margin-top: 0;
}

h2, h4, ul li {
    color:#edd9bc;
}
/*================ update ==============*/
#checkboxes {
    padding-left:180px;
}

.when {
    margin-right: 25px;
}

.date {
    margin-left: 25px;
}

.what {
    display: flex;
    padding-left: 45px;

}

.what-label {
margin-top: 8px;
}

.what-input {
    width: 70%;
    margin-left: 19px;
    padding-right: 85px;
    padding-left:20px
}



@media only screen and (max-width: 420px) {
    #flex-dir {
        flex-direction: column;
    }

    #flex-direction {
        flex-direction: column;
    }

    #locations {
        width: 100%;
    }

    .row {
        display: revert;
        --bs-gutter-x: none;
        --bs-gutter-y: none;
    }

    .box-1 {
        width: 100%;
    }

    #pad-marg {
        margin: 0;
        padding: 0;
    }

    .image {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
        width: 300px;
    }

    .box-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    [data-animate-in] {
        transform: none;
    }
    [data-animate-in="right"] {
        transform: none;
    }
    /*=================== update =============*/
    #checkboxes {
        padding-left:10px;
    }

    .when {
        margin-right:unset;
    }

    .date {
        margin-left: unset;
    }

    .what {
        display: unset;
    }

    .what-label {
        padding-left: 18px;
    }

    .what-input {
        width: unset;
        margin-left: unset;
        padding-left: unset;
        padding-right: unset;
    }
}
