/*.fill-out-form {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/

/*}*/

/*.title {*/
/*    color:white;*/
/*    margin-left: 30px;*/
/*    font-weight:bold;*/

/*}*/

/*.date {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/
/*}*/

/*.categories {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/
/*}*/

/*.category-choices {*/
/*    color: white;*/
/*    margin-left: 30px;*/

/*}*/

/*.where {*/
/*    color: white;*/
/*    margin-left: 30px;*/
/*    font-weight: bold;*/
/*}*/

/*.create {*/
/*    float: right;*/
/*    width: 200px;*/
/*    height: 150px;*/
/*}*/

/*.what_text_box {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*#createTitle {*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    font-weight: bold;*/

/*}*/

/********************************************************************/

.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 250px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    width: 30%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.box-2:hover .image {
    opacity: 0.8;
}

.box-2:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgba(40, 40, 56, 0.99);
    color: #d4d4d4;
    font-size: 16px;
    padding: 10px 32px;
    border-radius: 10px 100px / 120px;
    border: 3px solid #009bbe;
}

.instruction-box {
    padding-right: unset;
    padding-left: unset;
}

hr.solid {
    border-top: 3px solid #EF426F;
}

hr.solid2 {
    border-top: 3px solid #009bbe;
}

hr.solid3 {
    border-top: 3px solid #FF8200;
}

label h3 {
    color: white;
    font-weight: bold;
}

.box-1 {
    width: 70%;
}

.box-2 {
    width: 30%;
}

