/*body {margin:0;}*/

/*.main*/
/*{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
/*.topNav*/
/*{*/
/*    display: flex;*/
/*    width: 100%;*/
/*    background-color: #4ca47b;*/
/*    height: 100px;*/
/*}*/

/*.brand*/
/*{*/
/*    top: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    align-content: flex-start;*/
/*    justify-content: center;*/

/*}*/
/*.brandName*/
/*{*/
/*    color: azure;*/
/*}*/
/*.searchBar*/
/*{*/
/*    align-content: flex-end;*/
/*    margin: auto;*/
/*}*/
/*.actions*/
/*{*/
/*    display: flex;*/
/*}*/


/*.action*/
/*{*/
/*    align-content: center;*/
/*    margin: auto;*/
/*    background-color: black;*/
/*    height: 200px;*/
/*    width: 300px;*/
/*}*/
/*.actionTitle*/
/*{*/
/*    color: white;*/
/*    font-size: 24px;*/
/*    text-align: center;*/

/*}*/
/*.actionDescription*/
/*{*/
/*    color: white;*/
/*    font-size: 14px;*/
/*    text-align: center;*/

/*}*/

/*.placeholder*/
/*{*/
/*    height:75px;*/
/*    width:125px;*/
/*}*/


body {
    background-color: var(--main-bg-color);
}

.button-bg-color1 {
    background-color: var(--button-bg-color1);
}

.lost-button{
    background-color: var(--button-bg-color1);
}

.lost-button {
    color: white;
}

.find-button {
    background-color: var(--button-bg-color2)
}

.find-button {
    color : white;
}

.how-we-do {
    color: white;
}

.what-we-do {
    color: white;
}