.listings {
    color: white;
    font-weight: bold;
}

.info {
    color: white;
    font-weight: bold;

}

.picture {

    height: 50px;
    width:50px;
    float: right;
   margin-left: auto;

}

@media only screen and (max-width: 420px) {
    .mt-5 {
        margin-top: 1rem !important;
    }

    #column2 {
        margin-top: 1rem;
    }
}