:root {
    --shades-of-main-bg-1: #395D6B;
    --shades-of-main-bg-2: #4F6F7B;
    --shades-of-main-bg-3: #65818C;
    --shades-of-main-bg-4: #7B939C;
    --shades-of-main-bg-5: #91A5AD;

    --button-bg-color2: darkturquoise; /* OPTION: #997877 */
    --button-bg-color1: darkslateblue; /* OPTION: #879977 */
    /* OPTION: #C25B56 */
    --main-bg-color: lightslategrey; /* #778799 - Main Background Color */

    --main-font: 'Domine', serif;;
    --sub-font: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



html, body {
    width: 100%;
    height:100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #7e9b93;
}

.row {
    --bs-gutter-x: none !important;
    --bs-gutter-y: none !important;
}

#flex-center {
    display: flex;
    justify-content: flex-end;
}
.text-beige {
    color: #edd9bc;
}

.box1 > h3 {
    font-size: 36px;
    color: white;
}

.box1 > p {
    font-size: 20px;
    color: black;
}

.h3, h3 {
    font-size: 1.75rem;
    color: white;
}

.btn-outline-light {
    color: white;
}
.btn-outline-secondary {
    border-color: #edd9bc;
}




/* ============= Animation background ====================================== */
.background {
    background-color: #7d9c95;
    /*background-size: 400% 400%;*/
    /*animation: Gradient 15s ease infinite;*/
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding:0;
    margin:0;
}
.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
    border-color: #FFF ;
}
.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 55vh;
}
.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 60vh;
}
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
}
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}


@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .cube {
        display: none;
    }

    .bg-attach-scroll {
        background-attachment: scroll;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*!******************************************************************************************************!*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
}

p, label, ul, li, button, a {
    font-family: var(--main-font);
}

.border-br {
    border-bottom: solid 1px white;
}

/* Color Schemes */
.main-bg-color {
    background-color: #254b5b;
}

.button-bg-color1 {
    background-color: #659DBD;
}

.button-bg-color2 {
    background-color: #de8d79;
}

.shade1 {
    background-color: var(--shades-of-main-bg-1);
}

.shade2 {
    background-color: var(--shades-of-main-bg-2);
}

.shade3 {
    background-color: var(--shades-of-main-bg-3);
}

.shade4 {
    background-color: var(--shades-of-main-bg-4);
}

.shade5 {
    background-color: var(--shades-of-main-bg-5);
}
/* Color Schemes - End */


#logo {
    height: 40px;
    width: 40px;
}

.user-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2rem !important;
}

.imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #659dbd;
}

.cardImage > img {
    object-fit: cover;
    border-radius: 50%;
    /*background: #7d9c95;*/
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1rem;
}

.navbar-toggler {
    padding: 5px;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.one-edge-shadow {
    box-shadow: 0 8px 6px -6px black;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
}

.box1 {
    height: 100%;
    width: 48%;
    padding: 5em;
}

.box1 > h3 {
    font-size: 36px;
}

.box1 > p {
    font-size: 20px;
}

.box2 {
    height: 100%;
    width: 52%;
}

#lost {
    height: 100%;
    width: 100%;
    padding-right: 80px;
}



/****************************** Modals ********************************/
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: .375rem .75rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: .25rem;
}

/* Set a style for all buttons */
/*#button-modalSmall {*/
/*  background-color: #04AA6D;*/
/*  color: white;*/
/*  padding: 14px 20px;*/
/*  margin: 8px 0;*/
/*  border: none;*/
/*  cursor: pointer;*/

/*}*/

.button-fragment {
    background-color: #009bbe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*button:hover {*/
/*    opacity: 0.8;*/
/*}*/


.container {
    padding: 16px;
}

/* fa-check */
.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #2b4857;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.inputs {
    color: #edd9bc;
    font-weight: bold;
    font-size: larger;
    margin-top: .5rem;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #e14545;
    font-size: 35px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
/*@-webkit-keyframes fadeIn {*/
/*    from {opacity: 0;}*/
/*    to {opacity: 1;}*/
/*}*/

/*@keyframes fadeIn {*/
/*    from {opacity: 0;}*/
/*    to {opacity:1 ;}*/
/*}*/

/*.animated {*/
/*    !*background-image: url("https://i.ytimg.com/vi/D-rAyCEtVHA/hqdefault.jpg");*!*/
/*    width: 50%;*/
/*    height: 50%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: left top;*/
/*    padding-top: 95px;*/
/*    margin-bottom: 60px;*/
/*    -webkit-animation-duration: .5s;*/
/*    animation-duration: .5s;*/
/*    -webkit-animation-fill-mode: both;*/
/*    animation-fill-mode: both;*/
/*}*/

/*@-webkit-keyframes fadeInLeft {*/
/*    0% {*/
/*        opacity: 0;*/
/*        -webkit-transform: translateX(-20px);*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        -webkit-transform: translateX(0);*/
/*    }*/
/*}*/

/*@keyframes fadeInLeft {*/
/*    0% {*/
/*        opacity: 0;*/
/*        transform: translateX(-20px);*/
/*    }*/
/*    100% {*/
/*        opacity: 1;*/
/*        transform: translateX(0);*/
/*    }*/
/*}*/

/*.fadeInLeft {*/
/*    -webkit-animation-name: fadeInLeft;*/
/*    animation-name: fadeInLeft;*/
/*}*/
/*animation-name: fadeInDown;*/

/*Animations*/

[data-animate-in] {
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
    transform: translate3d(0, 24px, 0)
}

[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
    transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
    transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
    transform: translate3d(0, 0, 0)
}

[data-animate-in].in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease, opacity 0.5s ease
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
    opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
    opacity: 1;
    transition: none;
    transform: none
}

#inquireBtn {
    width: 50%;
    background: #659dbd;
    color: white;
    border-color: #e18a77;

}
#inquireBtn:hover {
    background-color: #e18a77;
}

#btn{
    border: 2px solid black;
    padding: 30px 60px;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 24px;
    font-family: sans-serif;
    transition: all .5s;
}

#btn:before{
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top:  -100%;
    left: -100%;
    background: #212121;
    transition: all .5s;
    z-index: 0;

}

#btn:hover{
    color: white;
}
#btn:hover:before{
    top: 0;
    left: 0;

}

/************** Error Page **************/

.error {
    background: none;
}

@media only screen and (max-width: 420px) {
    #flex-dir {
        flex-direction: column;
    }
    [data-animate-in] {
        transform: none;
    }
    [data-animate-in="right"] {
        transform: none;
    }

    #flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}