:root {
    --shades-of-main-bg-1: #929FAD;
    --shades-of-main-bg-2: #A0ABB8;
    --shades-of-main-bg-3: #ADB7C2;
    --shades-of-main-bg-4: #BBC3CC;
    --shades-of-main-bg-5: #C9CFD6;

    --button-bg-color2: darkturquoise; /* OPTION: #997877 */
    --button-bg-color1: darkslateblue; /* OPTION: #879977 */
    /* OPTION: #C25B56 */
    --main-bg-color: lightslategrey; /* #778799 - Main Background Color */

    --main-font: 'Montserrat', sans-serif;
    --sub-font: 'Roboto', sans-serif;
}

/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
    font-weight: bolder;
}

p {
    font-family: var(--sub-font);
}

.border-br {
    border-bottom: solid 1px white;
}

/* Color Schemes */
.main-bg-color {
    background-color: var(--main-bg-color);
}

.button-bg-color1 {
    background-color: var(--button-bg-color1);
}

.button-bg-color2 {
    background-color: var(--button-bg-color2);
}

.shade1 {
    background-color: var(--shades-of-main-bg-1);
}

.shade2 {
    background-color: var(--shades-of-main-bg-2);
}

.shade3 {
    background-color: var(--shades-of-main-bg-3);
}

.shade4 {
    background-color: var(--shades-of-main-bg-4);
}

.shade5 {
    background-color: var(--shades-of-main-bg-5);
}
/* Color Schemes - End */


#logo {
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

#user-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 1rem;
}

.navbar-toggler {
    padding: 5px;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.one-edge-shadow {
    box-shadow: 0 8px 6px -6px black;
}

