<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Home</title>
</head>
<body>
    <header>
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </header>
    <main>

        <div class="text-center mt-4 mb-3">
            <img class="w-50 h-50" src="img/lost-mountainpink.svg" alt="logo">
        </div>
        <div class="text-center d-flex">
            <div class="row">
                <div class="col">
                    <div class="p-4 m-3 text-white button-bg-color1 d-flex justify-content-center align-items-center flex-column one-edge-shadow rounded-3">
                        <h3>I lost something...</h3>
                        <button class="btn btn-outline-light" type="button">Find</button>
                    </div>
                </div>
                <div class="col">
                    <div class="p-4 m-3 text-white button-bg-color2 d-flex justify-content-center align-items-center flex-column one-edge-shadow rounded-3">
                        <h3>I found something...</h3>
                        <button class="btn btn-outline-light" type="button">Share</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4 mb-3">
            <img class="w-50 h-50" src="img/todo-mountainpink.svg" alt="todo">
        </div>

        <div class="text-white px-3 pt-3">
            <h3 class=" text-center border-br mt-2 mb-4">What we want to accomplish?</h3>
            <p>
                Have you ever been strolling along, minding your own business, and you come across a pair of sunglasses
                someone left
                behind at the park?
            </p>
            <p>
                Like those really nice ones? And you didn't want to leave them there, but you also didn't know
                how to get them back to the person that lost them? Or have you ever been super late for a flight and
                forgot to pick
                up your jacket as you run to your gate?
            </p>
            <p>
                That's where we come in. We help the residents of San Antonio reunite and
                get reunited with lost belongings.
            </p>
        </div>
    </main>

</body>
</html>