<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Home</title>
</head>
<body>
    <header>
        <nav th:replace="fragments/navbar :: navbar"></nav>
    </header>
    <main>
        <h1 class="text-center">LostButFound</h1>
        <h5 class="text-center">Find all your lost property...</h5>
        <div class="text-center d-flex justify-content-evenly">
            <button>Sign-Up</button>
            <button>Login</button>
        </div>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab delectus fuga fugit in modi possimus velit? Alias cumque deserunt dolorum eaque facere impedit ipsum nam, nemo recusandae rerum, sint unde.
        </p>
        <div class="d-flex justify-content-center align-items-center">
            <img class="text-center" src="img/lost.svg" alt="lost svg" height="100px" width="100px">
        </div>

        <h3 class="text-center">The Narrative:</h3>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid deserunt, doloribus et exercitationem facere fugit iste minus molestiae nam natus optio pariatur porro quis rem rerum sequi sunt voluptas.
        </p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid deserunt, doloribus et exercitationem facere fugit iste minus molestiae nam natus optio pariatur porro quis rem rerum sequi sunt voluptas.
        </p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid deserunt, doloribus et exercitationem facere fugit iste minus molestiae nam natus optio pariatur porro quis rem rerum sequi sunt voluptas.
        </p>
    </main>

</body>
</html>