<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <title>Home</title>
<!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>-->
    <script src="/js/script.js"></script>
</head>
<body class="bg-attach-scroll">


<div class="background" style="overflow: scroll">


    <!-- Mobile Head -->
    <header>
        <!-- If NOT logged on -->
        <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
        <!-- If logged on -->
        <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
    </header>



    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>


    <!-- Small Screens View -->
    <main class="d-block d-lg-none d-xxl-none">

<!--        <div id="alert1" th:replace="fragments/login-alert :: alert" sec:authorize="isAuthenticated()"></div>-->
<!--        <div th:replace="fragments/signup-alert :: alert"></div>-->
<!--        <div th:replace="fragments/logout-alert :: alert"></div>-->

        <div class="text-center mt-4 mb-3">
            <img class="w-50 h-50" src="img/lost-lightpink.svg" alt="logo">
        </div>
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <div class="p-4 m-3 text-white button-bg-color1 d-flex justify-content-center align-items-center flex-column one-edge-shadow rounded-3">
                        <h3>I lost something...</h3>
                        <a class="btn btn-outline-light" th:href="@{/listings}" role="button">Find</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-4 m-3 text-white button-bg-color2 d-flex justify-content-center align-items-center flex-column one-edge-shadow rounded-3">
                        <h3>I found something...</h3>
                        <a sec:authorize="isAuthenticated()" class="btn btn-outline-light" th:href="@{/create}" role="button">Share</a>
                        <a sec:authorize="!isAuthenticated()" class="btn btn-outline-light popup" role="button" onclick="myFunction()">Share
                            <img src="img/nambeshadap.png" class="popuptext" id="myPopup" alt="nambe-shadap">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center mt-4 mb-3">
            <img class="w-50 h-50" src="img/todo-lightpink.svg" alt="todo">
        </div>

        <div class="text-white px-3 pt-3">
            <h3 class=" text-center border-br mt-2 mb-4">What do we want to accomplish?</h3>
            <p>
                We help the residents of San Antonio reunite with lost belongings.
            </p>
        </div>
    </main>

    <!-- Large Screens View -->
    <main class="d-none d-lg-block d-xxl-block">

<!--        <div th:replace="fragments/login-alert :: alert" sec:authorize="isAuthenticated()"></div>-->
<!--        <div th:replace="fragments/signup-alert :: alert"></div>-->
<!--        <div th:replace="fragments/logout-alert :: alert"></div>-->

        <div class="d-flex justify-content-center align-items-center">
            <div class="box1 d-flex flex-column text-white">
                <div th:if="${param.error}">
                    Invalid Username and Password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <h3>What do we want to accomplish?</h3>
                <p class="mt-2 mb-4">We help the residents of San Antonio reunite with lost belongings.</p>
                <div class="row">
                    <div class="col-6">
                        <div class="p-4 text-white button-bg-color1 d-flex justify-content-center align-items-center flex-column one-edge-shadow rounded-3">
                            <h3>I lost something...</h3>
                            <a class="btn btn-outline-light" th:href="@{/listings}" role="button">Find</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="p-4 ml-3 text-white button-bg-color2 d-flex justify-content-center align-items-center flex-column one-edge-shadow rounded-3">
                            <h3>I found something...</h3>
                            <a sec:authorize="isAuthenticated()" class="btn btn-outline-light" th:href="@{/create}" role="button">Share</a>
                            <button sec:authorize="!isAuthenticated()" class="btn btn-outline-light popup" role="button" onclick="myFunction2()">Share
                                <span class="popuptext" id="myPopupLg">To create a missing item post, you need to be a logged in user!</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box2 text-center">
                <img id="lost" src="img/lost-lightpink.svg" alt="logo">
            </div>
        </div>
    </main>

    <script th:replace="fragments/login-fragment :: modaljs"></script>
    <script th:replace="fragments/signup-fragment :: signup-modaljs"></script>
    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
        function myFunction2() {
            var popup = document.getElementById("myPopupLg");
            popup.classList.toggle("show");
        }
    </script>


    <footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>