<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!---->
<head>
    <link rel="stylesheet" href="../static/css/home_desktop.css">
</head>
    <title>LostButFound</title>
</head>
<body>
<body>
<div class="main">
    <div class="topNav">
        <div class="brand">
            <img class ="placeholder" src="../static/images/cheetahs-cubs-two-together-162318.jpeg"/>

        </div>
        <div class="brandName">
            <h2>LostButFound</h2>
        </div>
        <div class="searchBar">
            <input size="50" type="text" placeholder="Search"/>
        </div>
    </div>
    <div class="content">
        <div class="actions">
            <div class="action">
                <div class="actionTitle">
                    I lost something
                </div>
                <div class="actionDescription">
                    Search through lost items
                </div>
            </div>
            <div class="action">
                <div class="actionTitle">
                    I found something
                </div>
                <div class="actionDescription">
                    Search through found items
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</body>
</html>