<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<header>
    <nav th:replace="fragments/navbar :: navbar">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>


<div class="feature col">
<!--    <div class="feature-icon bg-primary bg-gradient">-->
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
    </div>
        <h2>What do we do?</h2>
    <p>
        Have you ever been strolling along, minding your own business and you come across a pair of sunglasses someone left behind at the park? Like those really nice ones? And you didn't want to leave them there but you also didn't know how to get them back to the person that lost them? Or have you ever been super late for a flight and forgot to pick up your jacket as you ran to your gate? That's where we come in. We help the residents of San Antonio reunite and get reunited with lost belongings.

    </p>

</div>
<div class="feature col">
<!--    <div class="feature-icon bg-primary bg-gradient">-->
        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
    </div>
        <h2>How do we do it?</h2>
    <p>
        We provide a secure platform for finders to post lost items and searchers to look through items to claim.

    </p>


    </a>
</div>
</div>
</div>

<br>
<br>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>I lost something</h2>
            <p>Find a lost item</p>
            <button class="btn btn-outline-light" type="button">Find</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>I found something</h2>
            <p>Post a lost item you found</p>
            <button class="btn btn-outline-secondary" type="button">Post</button>
        </div>
    </div>
</div>


</body>
</html>