<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>
<body>

<header>
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>


<div class="container mt-5">

    <div class="card">
        <div class="card-header text-center">
            <h1>Contact Us</h1>
        </div>
        <div class="card-body">
            <div class="card card-head mb-2">
                <div class="card-body card-head table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><h2>User Name</h2></th>

                            <th><h2>Title</h2></th>

                            <th><h2>Email</h2></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><h3 th:text="${admin.username}"></h3></td>
                            <td><h3>Admin</h3></td>
                            <td><h3 th:text="${admin.email}"></h3></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

<!--            <div class="card tr">-->
<!--                <div class="card-body card-head">-->
<!--                    -->
<!--                    <h3></h3>-->
<!--                    -->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

</div>

<footer th:replace="fragments/footer :: footer">

</footer>
</body>
</html>