<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="fragments/head :: head"></head>
<body>
<header>
    <!-- If NOT logged on -->
    <nav th:replace="fragments/navbar :: navbar" sec:authorize="!isAuthenticated()"></nav>
    <!-- If logged on -->
    <nav th:replace="fragments/new-navbar :: new-navbar" sec:authorize="isAuthenticated()"></nav>
</header>
<!--<div>-->
<!--    <h1>Inquiry Form</h1>-->
<!--    <h6>Please fill in your information and a good description of the item you lost.</h6>-->
<!--</div>-->

<div class="container mt-4 mb-4">
    <div class="card" style="background-color: #282838; color: white; box-shadow: 10px 10px 5px grey; border: 1px solid #009bbe">

        <div class="card-body mt-5">

            <div class="mx-5">
                <div class="d-inline-flex">
                    <h2>User:</h2>
                </div>
                <div class="d-inline-flex">
                    <h2 th:text="${listing.user.username}"></h2>
                </div>
                <br>

                <div class="d-inline-flex">
                    <h2>Lost item:</h2>
                </div>
                <div class="d-inline-flex">
                    <h2 th:text="${listing.title}"/></h2>
                </div>
                <br>

                <div class="d-inline-flex">
                    <h2>Found at:</h2>
                </div>
                <div class="d-inline-flex">
                    <h2 th:text="${listing.location.location_name}"></h2>
                </div>
                <br>

                <div class="d-inline-flex">
                    <h2>Date Found:</h2>
                </div>
                <div class="d-inline-flex">
                    <h2 th:text="${listing.getFormattedDateFound()}"></h2>
                </div>
                div class="d-inline-flex">
                <h2>Date Posted:</h2>
            </div>
                <div class="d-inline-flex">
                    <h2 th:text="${listing.getFormattedDatePosted()}"></h2>
                </div>

            </div>

            <hr class="solid  mx-3 mt-5" style="border-top: 3px solid #EF426F;">

            <div class="mt-5 mx-5">
                <h5 style="line-height: 1.5">How it works:
                    <br>
                    <br>
                    Fill out this form to see if this item is yours! It’s a good idea to include something specific
                    about
                    your item so that we for sure know it’s yours!
                    For example, tell the finder something like the background photo on your phone, the color of your
                    case,
                    the brand of your item, or even that stain on your jacket!
                    The more specific you are, the easier it’ll be to claim your lost item!</h5>
            </div>


            <div class="mx-5 mt-5">
                <form th:action="@{/inquiry/{id}(id=${listing.id})}" method="post" th:object="${inquiry}">

                    <div class=" w-100 mb-5">
                        <label style="float: left;" class="inputs" for="description">Description of your item:</label>
                        <textarea class="form-control" id="description" th:field="*{inquiry_description}"></textarea>
                    </div>

                    <div class=" mb-5">
                        <label for="imageURL"><h5>Upload an image:</h5></label>
                        <br>
                        <button id="imageURL" type="button" class="btn btn-secondary" onclick="myFunction()">Choose
                            File
                        </button>
                        <span><i class="fa fa-check hidden" style="color:green"></i></span>
                    </div>

                    <div class=" mb-3">
                        <label style="float: left;" for="imageDescription" class="inputs">Image description:</label>
                        <input type="text" name="imageDescription" class="form-control" id="imageDescription">
                    </div>

                    <hr class="solid  my-5" style="border-top: 3px solid #FF8200;">

                    <div class="text-center mb-4">
                        <input type="submit" class="btn btn-secondary">
                        <input id="hidden" name="imageURL" class="form-control" type="hidden" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

<script>

    const client = filestack.init(FILESTACK_API_KEY);
    const options = {
        accept: ["image/*"],
        imageDim: [2048, 2048],
        maxSize: 10 * 1024 * 1024,
        onFileUploadFinished: anotherFunction
    };

    const btn = document.getElementById('imageURL');
    const picker = client.picker(options);

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        console.log("I was clicked");
        picker.open();
    })

    function anotherFunction(res) {
        console.log(res);
        let handle = "https://cdn.filestackcontent.com/" + res.handle;
        console.log(handle);


        document.getElementById('hidden').value = handle;
        console.log(document.getElementById('hidden').value)

        if (handle !== "") {
            document.querySelector('.fa-check').classList.remove('hidden')
            document.querySelector('.fa-check').classList.add('visible')
        }
    }
</script>
</body>
</html>